/* CSS HEX */

/* --platinum: #cfdbd5ff;
--alabaster: #e8eddfff;
--saffron: #f5cb5cff;
--eerie-black: #242423ff;
--jet: #333533ff; 
https://coolors.co/palette/cfdbd5-e8eddf-f5cb5c-242423-333533

flaticon
*/

body{
    background-color: #242423;
    color: #E8EDDF;
}

img{
width: 300px;
}

h1{
    color: #F5CB5C;
}
h2{
    color: #F5CB5C;
}

h3{
    color: #F5CB5C;
}

h4{
    color: #F5CB5C;
}

a{
    color: #CFDBD5;
}

.icon{
    width: 24px;
}